@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

:root {
    --theme-color: hsl(0, 0, 0);
    --accent-color: hsl(216, 84%, 45%);
    --accent-hover-color: hsl(216, 84%, 35%);
    --taskbar-color: hsl(216, 20%, 99%);
    --text-color: hsl(0, 0%, 29%);
    --border-color: hsl(0, 0%, 90%);
    --popup-width: 750px;
    --border-radius-outer: 10px;
    --border-radius-inner: 0;
    --title-font-size: 18px;
    --body-font-size: 16px;
    --transition-1: all .25s ease-in-out;
    --ui-ratio: 3fr 1fr;
    --sidebar-min-height: 80vh;
    --hover-color: hsla(0, 3%, 80%, 0.295);
    --text-color: rgb(53, 53, 53);
}

.text-link {
    color: var(--accent-color);
    font-weight: 500;
    transition: var(--transition-1);
    cursor: pointer;
}
.text-link:hover {
    color: var(--accent-hover-color);
}

.btn-accent {
    background-color: var(--accent-color);
    color: white;
}

button {
    cursor: pointer;
    border: none;
}

.extension_area {
    display: grid;
    margin: .25rem;
    gap: 0;
    max-block-size: 100vh;
    max-inline-size: 100vw;
    overflow: hidden;
    
}

.extension_taskbar_area {
    /* border: 1px solid #000; */
    /* z-index: 10000; */
    position: relative;
}

.extension_taskbar .right,
.extension_taskbar .left {
    display: inherit;
    grid-auto-flow: column;
    gap: 1rem;
}

.extension_taskbar .left {
    justify-content: flex-start;
}

.extension_taskbar .right .user_detail {
    display: none;
    gap: .5rem;
    align-content: center;
    font-size: 1rem;
}
.extension_taskbar .right .user_detail #package,
.extension_taskbar .right .user_detail #username {
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: normal;
    padding: .25rem 1.5rem;
    display: grid;
    place-items: center;
    align-content: center;
}
.extension_taskbar .right .user_detail #username {
    background-color: transparent;
    color: var(--accent-color);
    font-weight: 500;
}
.extension_taskbar {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: space-between;
    background-color: var(--taskbar-color);
    padding: .5rem  1rem;
    box-shadow: 1px 1px 1px 1px hsla(0, 6%, 90%, 0.61);
    border-radius: var(--border-radius-inner);
}

.extension_taskbar .extension_tab {
    display: grid;
    display: grid;
    place-items: center;
    align-items: center;
    padding: .25rem .65rem;
    border: none;
    color: hsl(0, 0%, 20%);
    transition: var(--transition-1);
    background: transparent;
}

.extension_taskbar .left .extension_tab {
    aspect-ratio: 1/1;
}

.extension_taskbar .tab-area button {
    padding: .5rem 0;
}

.extension_taskbar .tab-area {
    display: grid;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    grid-auto-flow: column;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-inner);
    padding: .15rem .5rem;
    color: hsl(0, 0%, 30%);
    transition: var(--transition-1);
    cursor: pointer;
}
.extension_taskbar .tab-area:hover {
    border-color: rgb(194, 201, 201);
}

.extension_taskbar .extension_tab:hover {
    background: var(--hover-color);
}

.extension_taskbar .auth-tabs {
    background-color: var(--accent-color);
    padding: 0.25rem 1.5rem;
    display: grid;
    place-items: center;
    align-content: center;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px hsla(207, 12%, 85%, 0.61);
    transition: var(--transition-1);
}

.extension_taskbar .auth-tabs:hover {
    background-color: var(--accent-hover-color);
}

.extension_taskbar #sidebar_toggle {
    display: grid;
    place-items: center;
    align-items: center;
    padding: 0rem 1rem;
    border-radius: 50px;
    font-size: 12px;
}

.extension_taskbar .right {
    justify-content: flex-end;
    justify-self: flex-end;
}

.extension_lower_area {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
}

.sub_headings {
    font-weight: bold;
    color: var(--accent-color);
    margin-block-end: .5rem;
}

.extension_area.show_sidebar .extension_lower_area {
    grid-template-columns: var(--ui-ratio);
}

.extension_area .extension_sidebar {
    /* inline-size: 0; */
    overflow: hidden;
    align-self: stretch;
    display: none;
}
.extension_area.show_sidebar .extension_sidebar {
    /* inline-size: 100%; */
    transition: var(--transition-1);
    display: grid;
}

.extension_sidebar_area,
.chat_handler {
    overflow: auto;
    block-size: 90vh;
}
.extension_sidebar_area {
    position: relative;
    /* z-index: 1000; */
    /* block-size: 90vh; */
    align-self: stretch;
    padding: .05rem;
    display: grid;
    overflow: hidden;
}

/* .overlay._3IBSU {
    z-index: 10000 !important;
} */

.extension_lower_area .extension_sidebar .sidebar_part {
    background-color: var(--taskbar-color);
    padding: 0;
    box-shadow: 1px 1px 1px 1px hsla(0, 6%, 90%, 0.61);
    align-content: start;
    /* gap: 0.5rem; */
    min-block-size: var(--sidebar-min-height);
    border-radius: var(--border-radius-inner);
    display: none;
}

.extension_lower_area .extension_sidebar .sidebar_part.inview {
    display: grid;
}

#default_sidebar {
    place-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-weight: bold;
    color: #ff0000
}

#default_sidebar img {
    inline-size: 15vh;
    justify-self: center;
    aspect-ratio: 1.5/1;
}
#default_sidebar .brief {
    font-size: 1.2rem;
    color: var(--accent-color);
}

.extension_sidebar_actions {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem 1rem;
}

.extension_sidebar_actions button {
    display: grid;
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    background-color: rgba(211, 214, 214, 0.555);
    border-radius: var(--border-radius-inner);
    transition: var(--transition-1);
}

.extension_sidebar_actions button:hover {
    background: var(--hover-color);
}

.extension_sidebar_notes {
    display: grid;
    padding: 0.5rem 1rem;
    gap: .5rem;
}
.extension_sidebar_notes#templates,
.extension_sidebar_notes#tasks {
    padding: 0.5rem 0;
}
.extension_sidebar_notes .list {
    display: grid;
    gap: .5rem;
}

.extension_sidebar hr {
    border: none;
    border-top: 1px solid var(--border-color);
}

.extension_sidebar_note {
    border: 1px solid var(--border-color);
    color: hsl(0, 0%, 30%);
    position: relative;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;

    display: grid;
    grid-template-columns: .2fr 4fr;
    align-items: stretch;
}
.extension_sidebar_note span {
    /* position: absolute;
    inset: 0;
    content: "";
    block-size: 100%;
    inline-size: 5px; */
    background-color: var(--accent-color);
}
.extension_sidebar_note .note_content {
    padding: 0.5rem 1rem;
}
.extension_sidebar_note .content {
    display: grid;
}
.extension_sidebar_note .note_date {
    font-size: .8rem;
    justify-self: flex-end;
    color: hsl(0, 0%, 51%);
    padding-inline: .25rem;
}
.extension_sidebar_note .note_actions {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-end: -100%;
    content: "";
    block-size: 100%;
    display: grid;
    grid-auto-flow: column;
    /* inline-size: 30%; */
    padding: .25rem .5rem;
    gap: 0.5rem;
    align-items: center;
    background-color: hsla(0, 2%, 45%, 0.116);
    transition: var(--transition-1);
}
.extension_sidebar_note:hover .note_actions {
    inset-inline-end: 5%
}

.note_actions button {
    font-size: .9rem;
    background-color: transparent;
    border: none;
    transition: var(--transition-1);
    padding: .5rem;
    background-color: hsla(0, 2%, 19%, 0.322);
}
.note_actions button:hover {
    background-color: hsla(0, 2%, 19%, 0.541);
}

#scheduling_msg .extension_sidebar_notes {
    padding: .5rem;
}
#scheduling_msg .lists .extension_sidebar_actions{
    margin: .25rem 0;
    padding: 0;
    gap: .25rem;
}
#scheduling_msg .area_lists {
    display: none;
}
#scheduling_msg .area_lists.inview {
    display: grid;
}

.extension_modal {
    position: absolute;
    background-color: var(--taskbar-color);
    box-shadow: 1px 1px 1px 2px rgba(138, 138, 138, 0.1);
    padding: 1rem;
    min-block-size: 20vh;
    inline-size: 30vw;
    border-radius: var(--border-radius-inner);
    display: none;
    gap: 1rem;
    z-index: 100000;
    inset-block-start: 40%;
    inset-inline-start: 50%;
    transform: translate(-50%, -40%);
}
@media (max-width: 1200px) {
    .extension_modal {
        inline-size: 50vw;
    }
}
.extension_modal.inview {
    display: grid;
}

.extension_modal .extension_modal_heading {
    font-weight: 500;
    color: #0C0C0F;
}
.extension_modal body {
    color: var(--text-color);
}
.extension_modal footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    gap: 1rem;
}

.extension_modal footer button {
    display: grid;
    place-items: center;
    background-color: transparent;
    font-size: 16px;
}


.extension_modal_form  {
    display: grid;
    gap: 2rem;
}
.extension_modal_form label {
    font-size: .9rem;
}
.extension_modal_form .fields{
    display: grid;
    gap: 1rem;
}
.extension_form_group.split {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: .9rem;
    justify-items: flex-start;
}
.extension_form_group.number{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: 1fr 3fr;
}
.extension_form_group .split-fields {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    font-size: .9rem;
    justify-items: flex-start;
}

.extension_modal_form textarea {
    inline-size: 100%;
}

.extension_modal_form input,
.extension_modal_form textarea {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    inline-size: 100%;
    font-size: .9rem;
    outline: none;  
}
.extension_modal_form input[type="file"] {
    border-style: dashed;
}
.extension_modal_form input[type="color"] {
    padding: 0;
    border: none;
    inline-size: 100px;
}

.extension_form_group.color .color_selector {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    padding: 1rem;

    display: none;
    gap: 2rem;

    background-color: white;
    box-shadow: 2px 2px 2px 2px hsla(0, 4%, 26%, 0.329);
    border-radius: 3%;
    color: #000000
}

.extension_form_group.color .color_selector.inview {
    display: grid;
}

.extension_form_group.color .color_selector .body {

    display: grid;
    place-content: center;
    align-items: center;
    gap: 2rem;

}

.extension_form_group.color .color_selector .color_list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.extension_form_group .selected_color,
.extension_form_group.color .color_list span {
    inline-size: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}
/* 
.extension_form_group.color .color_selector input {
    justify-self: center;
} */

.extension_modal_form input:focus,
.extension_modal_form input:focus-within,
.extension_modal_form textarea:focus,
.extension_modal_form textarea:focus-within {
    outline: 1px solid var(--accent-color);
}
.cancel_button {
    font-weight: normal;
    transition: var(--transition-1);
}
.cancel_button:hover {
    font-weight: bold;
}
#popup-error-msg {
    color: rgb(189, 4, 4);
}

/* .extension_modal.tab_modal {
    inset-block-start: 40%;
    inset-inline-start: 50%;
    transform: translate(-50%, -40%);
}

#create_note {
    inset-block-start: 40%;
    inset-inline-start: 50%;
    transform: translate(-50%, -40%);
} */

body {
    position: relative;
    inline-size: 100vw;
    block-size: 100vh;
}
body::after {
    content: "";
    position: absolute;
    inset: 0 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: var(--transition-1);
    z-index: 99999;
}
body.modal_open::after {
    display: block;
}

.extension_area  .scheduled_msg_area {
    display: grid;
    justify-content: flex-end;
    margin-block: 2.5%;
    padding-inline-end: 8%;
}

@media (max-width: 1000px) {
    .extension_area  .scheduled_msg_area {
        padding-inline-end: 10%;
    }
}

.extension_area .img_holder {
    inline-size: 20vw;
    block-size: 10vw;
    overflow: hidden;
    object-fit: contain;
    display: none;
}
.extension_area .scheduled_msg_area.with_image .img_holder {
    display: grid;
    place-items: center;
    align-content: center;
}
.extension_area .img_holder {
    inline-size: 20vw;
    block-size: 10vw;
    object-fit: contain;
}

.extension_area .scheduled_msg {
    background-color: var(--accent-color);
    color: white;
    display: grid;
    gap: .5rem;
    padding: .5rem;
    border-radius: 5px;
}

.extension_area .scheduled_msg .brief {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: .7rem;
    color: rgb(216, 213, 213);
    gap: 1rem;
    justify-content: flex-end;
}

.ai_activator {
    inline-size: 25px;
    block-size: 25px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: grid;
    place-items: center;
    align-items: center;
    margin-inline: .25rem;
    cursor: pointer;
}


#ai_modal {
    inline-size: 40vw;
}

#ai_modal header {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    align-content: center;
}
#ai_modal footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

#ai_modal .ai_tone {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    padding: 0;
    border: 1px solid rgb(217, 232, 236);
    border-radius: 5px;
    align-items: center;
    transition: var(--transition-1);
    cursor: pointer;
    position: relative;
}
#ai_modal .ai_tone:hover {
    border: 1px solid rgb(30, 169, 216);
}

#ai_modal .cta {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: .5rem;
    align-items: center;
    padding: .5rem;
    border: none
}
#ai_modal .tone_options {
    background-color: rgb(217, 232, 236);
    display: grid;
    place-items: center;
    align-self: stretch;
    transition: var(--transition-1);
}
#ai_modal .ai_tone:hover .tone_options{
    background-color: rgb(30, 169, 216);
}
#ai_modal .tone_options_list {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-end: 0;

    list-style: none;
    inline-size: 30vw;

    display: none;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(97, 97, 97, 0.281);
    border-radius: 5px;
    transition: var(--transition-1);
    z-index: 10;
}
#ai_modal .tone_options:hover  .tone_options_list {
    display: grid;
}
#ai_modal .tone_option {
    padding: 1rem;
    display: flex;
    gap: .5rem;
    align-items: baseline;
    transition: var(--transition-1);
}
#ai_modal .tone_option:hover {
    background-color: hsl(0, 0%, 98%);
}
.tone_option .option_value {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}
.tone_option .option_des {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(167, 163, 163);
}

#ai_modal .ai_replies {
    border-block: 1px solid hsl(0, 0%, 90%);
    padding: .5rem;
    display: grid;
    gap: 0.5rem;
}
#ai_modal .ai_replies .ai_reply {
    cursor: pointer;
    color: var(--text-color);
    transition: var(--transition-1);
    padding: .25rem;
    position: relative;
}

#ai_modal .ai_replies .ai_reply.copied::after {
    content: "copied";
    font-size: 12px;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#ai_modal .ai_replies .ai_reply:hover {
    background-color: hsl(0, 0%, 98%);
}

#ai_modal .ai_replies .ai_reply.preload {
    height: 20px;
    width: 100%;
    background-color: hsl(0, 4%, 90%);
    animation: fade 1s ease-in-out infinite;
    border-radius: 2px;
    z-index: 0;
}
#ai_modal .ai_replies .ai_reply.preload:nth-child(even) {
    width: 70%;
}


@keyframes fade {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }

/* whatsapp edits */
/* body.extension_triggered ._2Ts6i._1xFRo[data-testid="drawer-right"] {
    visibility: hidden;
    inline-size: 0px !important;
    opacity: 0;
    transform: scale(-100);
}

.overlay._3IBSU {
    z-index: 10000 !important;
}

body.image_open .extension_taskbar_area,
body.image_open .extension_sidebar_area {
    z-index: 90 !important;
} */

.toggle_area {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }