{% extends '../utils/layout.html' %}
{% block content %}
    <div class="p-5 grid gap-6 content-start border border-gray-300 border-solid rounded-lg">
        <div class="grid gap-3 content-start">
            <h3 class="font-semibold text-lg">User Profile</h3>
            <div class="group grid gap-2">
                <p class="text-slate-700">Username:</p>
                <p class="text-black border border-gray-300 border-solid px-4 py-2 rounded-md">{{request.user.username}}</p>
            </div>
            <div class="group grid gap-2">
                <p class="text-slate-700">Email:</p>
                <p class="text-black border border-gray-300 border-solid px-4 py-2 rounded-md">{{request.user.email}}</p>
            </div>
        </div>
        <div class="grid gap-3 content-start">
            <h3 class="font-semibold text-lg">Subscription Details</h3>
            {% for subscription in subscriptions %}
                <div class="group grid gap-4 justify-start" style="grid-template-columns: 1fr .1fr .1fr;">
                    <div class="group grid grid-cols-2 gap-4">
                        <div class="grid gap-2 items-center" style="grid-template-columns: .25fr 1fr;">
                            <p class="text-slate-700">Service:</p>
                            <p class="text-black border border-gray-300 border-solid px-4 py-2 rounded-md">Ease Sell Extension</p>
                        </div>
                        <div class="grid gap-2 items-center" style="grid-template-columns: .25fr 1fr;">
                            <p class="text-slate-700">Subscription:</p>
                            <p class="text-black border border-gray-300 border-solid px-4 py-2 rounded-md">{{subscription.plan.name}}</p>
                        </div>
                    </div>
                    <a href="{% url 'manager:pricings' %}" class="px-6 py-2 cursor-pointer bg-blue-400 text-white text-base rounded justify-center" style="justify-self: flex-start;">
                        <span>View</span>
                    </a>
                    {% if subscriptions.first.plan.name != 'Basic Monthly Package' and subscriptions.first.active %}
                        <form action="{% url 'payments:deactivate_paypal' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="px-6 py-2 cursor-pointer text-white bg-red-600 text-white text-base rounded " style="justify-self: flex-start;" value='Deactivate' />
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}