{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments System</title>
    <link rel="stylesheet" href="{% static 'payments/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" >
    <link rel="stylesheet" href="{% static 'tailcss.css' %}">
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
              accent: "hsla(182, 100%, 20%, 0.8)",
              dark: "hsl(0, 1%, 15%)",
              "dark-200": "#1F2937",
            },
            gridTemplateColumns: {
              // Complex site-specific column configuration
              'dash': '1fr 5fr',
            }
          }
        }
      }
    </script>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>